DirectoryIndex index.php
Options -Indexes
RewriteEngine On

ErrorDocument 404 /personal/preentry/index.php
ErrorDocument 500 /personal/preentry/index.php
RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^ %{REQUEST_URI}.php [L]

